body {
  height: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.flex-container {
  display: flex;
  flex-direction: column;
  width:100%;
  height: 100%;
  justify-content: safe center;
  align-items: safe center;
}

.flex-scrollable-search {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 85%;
  overflow-y: auto;
  align-items: center;
  min-width: 350px;
}

.flex-scrollable {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  align-items: center;
  min-width: 350px;
}

.full-div {
  width: 50%;
  height: 45%;
  min-width: 350px;
}

.lower-case {
  text-transform: none;
}


.full {
  height: 100%;
  width: 100%;
}

.select {
  width: 50%;
  min-width: 350px;
}

.item {
}

.flex-button {
  margin-top: 10px;
  margin-bottom: 10px;

}

.now-playing {
  width: 50%;
  min-width: 350px;
}

.progress-div {
  width: 100%;
  padding: 5px 6px 5px 0px;
}

.song-info {
  width: 100%;
}

.player-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.controls {
  margin-right: 20px;
  width: 50px;
}

.addButton {
  margin-right: 20px;
}

.play {
  margin-right: 20px;
  cursor: pointer;
}

@media(hover: hover) and (pointer: fine) {
  .play:hover {
    color: hsl(0,0%,80%);
  }
  .control-fa:hover {
    color: hsl(0,0%,80%);
  }
}

.play:active {
  color: hsl(0,0%,80%);
}
.control-fa:active {
  color: hsl(0,0%,80%);
}

.control-fa {
  cursor: pointer;
}

.progress {
  height: .12rem;
}

.flex-item {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  width: 100%;
  min-height: 90px;
  min-width: 350px;
  align-items: center;
  border-color: hsl(0,0%,80%);
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
}

.flex-item-clickable {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  width: 100%;
  min-height: 90px;
  min-width: 350px;
  align-items: center;
  border-color: hsl(0,0%,80%);
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  cursor: pointer;
}

.album {
  margin: 5px 15px 5px 5px;
  border-radius: 4px;
  width: 64px;
  height: 64px;
}

.nav {
  width: 50%;
  min-width: 350px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.nav-link {
  color: black;
}

.nav-pills .nav-link.active {
  background-color: #17a2b8!important;
}

.query {
  min-height: 40px;
}

.accordion {
  width: 100%;
}

